<!DOCTYPE html>
<html>
<head>
  <title>CenitEngine</title>
  <%= stylesheet_link_tag    "cenit/application", media: "all" %>
  <%= javascript_include_tag "cenit/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
