<div style="background-color:#efefef; padding-top: 15px; padding-bottom: 15px;">
  <table border="0" cellpadding="0" cellspacing="0" height="80%" width="46%" id="bodyTable" align="center" style="background-color:white;">
    <tr>
      <td align="center" valign="top">
        <table border="0" cellpadding="10" cellspacing="0" width="600" id="emailContainer">
          <tr>
            <td align="center" valign="top">

              <div style="background: #555;color: white; padding: 10px; text-align:center">
                <div style="font-size: 24px;font-weight: bolder">
                  If you have <span style="color: rgb(234, 116, 0);">evolving</span> integration needs
                </div>
                <div style="font-size: 20px;">
                  beyond pre-build point to point integrations
                </div>
              </div>

              <div style="text-align: left">
                <p>
                  Welcome,
                </p>
                <p>
                  Thanks for your interest in Cenit IO! These is the <strong>very early beginning</strong> of Cenit as
                  a mountable engine. No functionality is yet incorporated but they will come soon. Meanwhile let us
                  show you a little about Cenit.
                </p>
                <p>
                  Cenit IO <a href="https://cenit.io/">https://cenit.io</a> is a business integration platform to tackle
                  evolving integration needs. It makes possible a complete business automation of all operational
                  processes in a company, connecting between organization's on-premises infrastructure and cloud
                  provider services.
                </p>
                <p>
                  Cenit is easy to use for non-specialists to solve common point-to-point integrations, but also
                  powerful, with access to the underlying platform capabilities, that allows to deliver heavy duty and
                  systematic integrations with specialists ready to support evolving business requirements. If you need
                  we can bring you custom development services with our integration specialists.
                </p>
                <p>
                  Cenit allows the creation of custom data pipelines to process, store and moves data between
                  applications using APIs, that may involve multiple formats (JSON, XML, ASN), standard definitions
                  (REST, SOAP, GraphQL, RPC, EDI) and protocol connectors (HTTP(S), FTP, SFTP, SCP) between two or more
                  endpoints.
                </p>
                <p>
                  It has prepackaged integration contents named “collections”, that users can configure, customize,
                  extend and deploy. Its are also possible to share at different levels of visibility across tenants.
                  There are now over 270 pre-built shared collections ready to use.
                </p>
                <p>
                  Cenit is a general propose integration platform specialized in B2B integrations as the strategy to
                  grow (marketplaces, fulfillment solutions, marketing communication, ERP, ecommerce platforms,
                  Electronic Data Interchange, etc). It will gradually be extended to other specific domains.
                </p>
                <p>
                  Until we set ready this engine to bring all the power of cenit to your rails apps visit our production
                  environment at <a href="https://cenit.io">https://cenit.io</a> and try it for free.
                </p>
                <p>
                  <br/><a href="https://www.linkedin.com/company/cenit-io">https://linkedin.com/company/cenit-io</a>
                </p>
              </div>


            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</div>
